[submodule "VDV301struktury"]
	path = VDV301struktury
	url = https://github.com/frutabruta/VDV301struktury.git
[submodule "subscriber"]
	path = subscriber
	url = https://github.com/frutabruta/subscriber.git
[submodule "VDV301subscriber"]
	path = VDV301subscriber
	url = https://github.com/frutabruta/VDV301subscriber.git
[submodule "VDV301publisher"]
	path = VDV301publisher
	url = https://github.com/frutabruta/VDV301publisher
