[submodule "subscriber"]
	path = subscriber
	url = https://github.com/frutabruta/subscriber.git
[submodule "VDV301subscriber"]
	path = VDV301subscriber
	url = https://github.com/frutabruta/VDV301subscriber.git
[submodule "VDV301publisher"]
	path = VDV301publisher
	url = https://github.com/frutabruta/VDV301publisher
[submodule "VDV301DataStructures"]
	path = VDV301DataStructures
	url = https://github.com/frutabruta/VDV301DataStructures
